body {
	padding: 50px 30px 30px;
}
	.info {
		width: 339px;
		font-family: 'Share Tech Mono';
	}
	#fight--monster,
	#fight--attack,
	#fight--cast {
		margin-bottom: 20px;
	}
	#player-info__hp,
	#monster-info__hp {
		overflow: hidden;
	}
	#player-info--fatigue,
	#monster-info__hp {
		margin-bottom: 30px;
	}
	#resurrect {
		display: none;
		margin-bottom: 30px;
	}
	.msg--monster-defeated {
		margin-top: 12px;
	}
	.monster-info {
		margin: 0 0 10px;
	}
	.monster__name {
		display: inline-block;
		font-weight: bold;
		margin: 0 10px 0 0;
	}
	.hit-type--crit {
		font-weight: bold;
		font-size: 18px;
	}
	.hit-type--double-strike {
		color: green;
	}
	.hit-type--eviscerate {
		font-weight: bold;
		font-size: 20px;
		text-shadow: 1px 1px 2px red;
	}
	#player-info__hp {
		margin-bottom: 5px;
	}
	#monster-info__hp {
		display: none;
	}
	#fight--attack,
	#fight--cast {
		display: none;
	}
	.fight-info {
		font-size: 14px;
	}
	.hit--monster {
		color: red;
	}
	.badge-dead {
		display: inline-block;
		margin-left: 5px;
	}

/*---------------*/
/* Progress Bars */
/*---------------*/
.progress-bar {
    width: auto;
    height: 22px;
    border: 1px solid #111;
    font-size: 0;
}
 
.progress-bar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
}

/* Player */
.progress-bar--player {
	background-color: #292929;
}
	.progress-bar--player div {
		background-color: #0099ff;
	}
	.player-info__hp-count,
	.player-info__fatigue-count,
	.monster-info__hp-count {
		float: right
	}
	.player-info__fatigue-count {
		font-size: 12px;
	}
.progress-bar--exp {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #ddd;
	height: 10px;
}
	.progress-bar--exp div {
		background-color: lightgreen;
		font-size: 0;
	}
	.exp-bar__label {
		font-weight: bold;
		position: absolute;
		top: 8px;
		left: 50%;
	}
.progress-bar--player-fatigue {
	background-color: #292929;
	border-radius: 5px;
	height: 6px;
}
	.progress-bar--player-fatigue div {
		background-color: purple;
		font-size: 0;
	}
/* Monster */
.progress-bar--monster {
	background-color: #292929;
}
	.progress-bar--monster div {
		background-color: red;
	}


.shake {
	width: 100%;
}